---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Vishnuvenugopal.sdet" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="Vishnu Venugopal"
	  position="SDET Manager | Agile Leader | AI-Driven Quality Engineer"
	  aboutMe={`With over 14 years of experience in Software Quality Engineering, I specialize in building world-class SDET teams, architecting automation frameworks, and transforming QA practices with Agile methodologies.

                My expertise spans test automation, DevOps pipelines, and quality strategy, and lately, I’ve been deeply involved in integrating AI into QA workflows — from LLM validation to intelligent test generation and defect prediction.

                I believe great QA is more than just testing — it's about engineering quality into every step of the product lifecycle. I'm passionate about mentoring teams, driving innovation, and turning testers into better engineers through smart tooling and AI adoption.

                Let’s build something reliable, scalable, and smart — together.

    `}
	  linkedin="https://www.linkedin.com/in/venuvis89/"
	  github="https://github.com/vishnuvenu"
	  cvLink="/files/VISHNU_AV_SDET_Manager.pdf"
	  profileImage="/images/profile2.webp"
	/>
</BaseLayout>
